{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://open.spotify.com/embed-playlist/iframe-api/v1" async></script>
{% endblock head %}

{% block body %}
<div id='embed-iframe'></div>
  <div class="boxed">
    <iframe style="border-radius:10px" src="https://open.spotify.com/embed/track/7Kohy4v3KLWfUXlv9N3feB?utm_source=generator" width="100%" height="80px" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    <div>
      <div id="chatbox">
        <p class="botText">
            <span>Hi! I'm SongiFy your song recommedation buddy</span>
        </p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="usermsg" placeholder="Enter message here..." />
      </div>
    </form>
    </div>
    <script>        
      function getBotResponse() {
        var rawText = $("#textInput").val();
        var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
        $("#textInput").val("");
        $("#chatbox").append(userHtml);
        document
          .getElementById("userInput")
          .scrollIntoView({ block: "start", behavior: "smooth" });
        $.get("/get", { msg: rawText }).done(function(data) {
          var botHtml = '<p class="botText"><span>' + data + "</span></p>";
          $("#chatbox").append(botHtml);
          document
            .getElementById("userInput")
            .scrollIntoView({ block: "start", behavior: "smooth" });
        });
      }
      $("#textInput").keypress(function(e) {
        if (e.which == 13) {
          getBotResponse();
        }
      });

    /*
    window.onSpotifyIframeApiReady = (IFrameAPI) => {
        let element = document.getElementById('embed-iframe');
        let options = {
            uri: 'spotify:playlist:37i9dQZF1EIWkN17HuTXyC'
        };
        let callback = (EmbedController) => {};
        IFrameAPI.createController(element, options, callback);
    };*/

    </script>
{% endblock body %}

